@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap'); 

* {
    box-sizing: border-box;
}

body {
    font-size: 16px; 
    font-family: 'Open Sans', sans-serif;
}


header {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Alinear elementos al inicio */
    align-items: center;
    padding: 0%;
    background-color: #fff;
}

header .hamburger {
    display: block;
    width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
    margin-right: 1rem;
}

header .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px;
}

.logo img {
    margin-left: 5px;
    width: 100%;
    height: 48px;
}

#toggle-menu {
    position: absolute;
    left: -100px;
    display: none; /* Ocultar el checkbox */
}

#toggle-menu:checked ~ nav {
    transform: translateX(0%); /* Mostrar el menú cuando el checkbox está marcado */
}

nav {
    position: absolute;
    top: 52px;
    left: 0;
    width: 90vw;
    height: calc(100% - 52px);
    background-color: #777;
    box-shadow: 0 0 10px #333;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out; /* Animación para el menú */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

nav ul li {
    border-bottom: 1px solid #fff;
}

nav ul li a {
    padding: 1rem;
    display: flex;
    text-decoration: none;
    color: #333;
    transition: background-color 1s linear, color 1s linear;
}

nav ul li a:hover {
    background-color: #ccc;
    color: #333;
}

.hero-panel {
    position: relative;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}

.h2{
    text-align: center;
}

.titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2rem;
}


.cartas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.cardContainer {
    width: 90%;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: #F3F6EF;
}

.cardContainer .card, .cardContainer .card1, .cardContainer .card2, .cardContainer .card3 {
    padding: 0.5rem;
}

.cardContainer .card img, .cardContainer .card1 img, .cardContainer .card2 img, .cardContainer .card3 img {
    width: 100%;
    height: 20rem;
    border-radius: 1rem 1rem 1rem 1rem;
}
.cardContainer .card, .card1, .card2, .card3, h3 {
    font-size: 28px;
    text-align: center;
    align-items: center;
    margin: 0.5rem 0;
}

.card1 p{
    text-align: left;
    font-size: 20px;
}

footer {
    margin-top: 20px;
    background-color: #F3F6EF;
    color: #000;
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer p {
    font-weight: bold;
  }
  
  .iconos-footer img {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 50%;
  }

/* Estilos para pantallas medianas */
@media (min-width: 768px) {
    .cartas {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .cardContainer {
        width: calc(50% - 1rem);
    }

    .logo img{
        margin-left: 5px;
        width: 100%;
        height: 48px;
    }


    header {
        justify-content: space-between; /* Alinear elementos al inicio y fin */
    }

    header .hamburger,
    .logo {
        order: -1; /* Coloca el menú hamburguesa y logo a la izquierda */
    }

    nav {
        position: static;
        width: auto;
        background-color: transparent;
        box-shadow: none;
        transform: none;
        display: flex; /* Alineación horizontal de los enlaces */
        justify-content: flex-end; /* Enlaces alineados a la derecha */
    }

    nav ul {
        flex-direction: row;
        align-items: center;
        display: flex;
    }

    nav ul li {
        border-bottom: none;
        margin-right: 20px; /* Espaciado entre enlaces */
    }

    header .hamburger {
        display: none;
    }
    .titulo {
        font-size: 3.5rem; /* Tamaño del título en la imagen de héroe */
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
    .cartas {
        justify-content: space-between;
    }

    .logo img {
        margin-left: 5px;
        width: 100%;
        height: 48px;
    }

    .cardContainer {
        width: calc(25% - 1rem);
    }

    header nav  .links ul li a{
        display: flex;
        align-items: center; /* Alineación vertical centrada para elementos de la cabecera */
        border: 1px solid #000; /* Borde para cabecera */
    }


}
